// Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
nav{
    width: 90%;
}
a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
li a{
    color: black;
}