// Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: white;
    height: 8vh;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 2px 1px 5px 0px rgba(168,168,168,1);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25%;
}
li{
    list-style: none;
}
li a{
    color: black;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
}
.banner img{
    margin-top: 8vh;
    position: relative;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(60%);
    width: 100%;
    height: 92vh;
}
.center-text{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 15px;
}
.center-text img{
    filter: brightness(100%);
}
.btn {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 162, 255);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.btn:hover, .btnS:hover{
    background-color: rgb(0, 162, 255);
    color: white;
}
.css-typing h1 {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #fff;
    overflow: hidden;
    border-right: .15em solid rgb(0, 162, 255);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    font-size: 30px;
    animation:
      typing 4s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(50, 180, 255) }
  }
  .span{
      color: rgb(50, 180, 255);
  }
  .profile{
      width: 100%;
      height: 90vh;
      margin-top:85px;
  }
  .profile #me{
    margin-left:50px;
    border: black solid 3px;
    padding: 10px;
    box-shadow: 12px 17px 5px 0px rgba(99,99,99,1);
    float: left;
  }
.info{
    text-align: center;
}
.line{
    width: 100%;
    background-color: rgb(0, 162, 255);
    color: white;
    text-align: center;
}
.line p{
    font-size: 20px;
}
.line h1{
    font-size: 40px;
    margin-bottom: 0 !important;
}
.work{
    width: 100%;
    margin: 0;
    padding: 0;
}
.w{
    width: 50%;
    height: 50vh;
    background-color: black;
    float: left;
}
.work .btn{
    margin-top: 50px;
    left: 50%;
    margin-bottom: 50px;
}
footer{
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 30vh;
}
input{
    width: 500px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
}
textarea{
    border-radius: 10px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
    max-width: 550px;
    padding: 16px;
    background-color: transparent;
}
.bg-img {
    background-image: url('img/contactbanner.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
label{
    color:white;
}
.btnS{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 162, 255);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
div.foot{
    position: relative;
    height: 100%;
}
div.foot h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
form{
    position: relative;
}
#container {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    background: #f1f1f1;
    padding: 6px;
  }
.row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    width: 100%;
}
.column {
    float: left;
}
#left {
    width: 15%;
}
#right{
    width: 10%;
  }
.middle{
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.dot{
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#input{
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 25px;
    color: #666;
    padding: 5px;
}
.bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
}
.content {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}
input{
    border: 1px solid black;
}
input[type=checkbox]{
    width: 30px;
    height: 15px;
}

@media only screen and (max-width: 600px) {

    body{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    ul li{
        display: none;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    ul li:nth-child(1){
        display: block;
    }
    ul li a img{
        height: 30px;
        width: 57px;
    }
    #burger{
        display: block;
    }
    .banner img{
        width: 100%;
    }
    .center-text{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .center-text img{
        width: 330px;
        height: 400px;
    }
    .css-typing h1{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
    }
    .btn{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .profile #me{
        margin-left: 0;
        width: 100%;
        height: 440px;
        margin-bottom: 40px;
    }
    .profile{
        margin-top: 0;
    }
    .info img{
        width: 200px;
        height: 200px;
    }
    .w{
        width: 100%;
        height: 30vh;
    }
    div.w img{
        width: 100%;
        height: 100% !important;
    }
    .work .btn{
        transform: translateX(-140%);
    }
    input, textarea{
        width: 90%;
    }
    div.foot h1{
        text-align: center;
    }
    #container{
        width: 97%;
        margin: 0 auto;
    }
    .container{
        margin: 0;
        padding: 0;
        margin-left: 10px;
        width: 90%;
    }
    .bg-img{
        min-height: 80vh;
    }

}