// Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

// Variables
@import 'variables';

// Bootstrap
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
li{
    list-style: none;
}
li a{
    color: black;
}
.container{
    background: linear-gradient(to right, $blue 0%, $blue 50%, white 50%, white 100%);
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
}